Desktop/BookingTourManager/node_modules
Desktop/BookingTourManager2/node_modules
Desktop/BookingTourManager/dist
Desktop/BookingTourManager/out

Mobile/TourApp/node_modules
Mobile/TourApp/.expo

Web/TourProject/node_modules